{{> head }}


{{> navbar}}

<div class="row">

  <div class="col-8">
    <h1>Divición de About</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aliquid voluptates non illum quaerat doloribus
      asperiores aut tempore. Sed, natus. Dignissimos cum dolorem laudantium? Officiis iste unde minus voluptate
      explicabo!
    </p>
  </div>

  <div class="col-4">
    <img src="/assets/amaia_cuzco.jpg" alt="amaia" class="img-thumbnail">
  </div>

</div>

{{> footer }}