{{!-- llamando al head --}}

{{> head }}


{{> navbar}}

<div class="row">

  <div class="col-8">
    <h1>Divición de Amaia</h1>
    <p>
      Si me necesitas, llámame. no importa si estoy dormido, si tengo mis propios problemas o si estoy molesto contigo.
      Si me necesitas y necesitas hablar conmigo, yo siempre estaré ahí para ti, no importa que tan grande o pequeño sea
      tu problema....
    </p>
  </div>

  <div class="col-4">
    <img src="/assets/amaia_cuzco.jpg" alt="amaia" class="img-thumbnail">
  </div>

</div>

{{> footer }}