{{!-- importar head --}}
{{> head }}


{{> navbar}}

<!-- ------------------------------------
    JUMBOTRON 
    ------------------------------------- -->
<div class="jumbotron">
  <h1 class="display-4">{{ capitalizar saludo }}!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
    featured
    content or information.</p>
  <hr class="my-4">
  <p>Este es una Pagina de prueba para futuros proyectos con fotos de mi hija y yo... Amaia mi niña hermosa</p>
  <figure>
    <img src="/assets/amaia2.jpeg" class="img-home" alt="">
  </figure>
  <a class="btn btn-primary btn-lg" href="#" role="button">Saber más</a>
</div>

{{> footer }}