* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: aqua; */
  width: 100%;
}
.row {
  width: 100%;
  margin: auto;
}
footer {
  font-family: sans-serif;
  background-color: #343a40;
  width: inherit;
  height: 3em;
  bottom: 0;
  position: fixed;
  color: white;
  text-align: center;
  line-height: 3;
  font-size: 1.2em;
}
