body {
  /* background-color: aqua; */
}
footer {
  font-family: sans-serif;
  background-color: #343a40;
  width: 100vw;
  height: 3em;
  bottom: 0;
  position: fixed;
  color: white;
  text-align: center;
  line-height: 3;
  font-size: 1.2em;
}
.img-home {
  width: 350px;
}
